<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <li class="col-md-6" style="background:url('./web-dist/images/tourhere.PNG') no-repeat;background-size:contain; height: 300px;"><a style="display:block;text-decoration:none;" href="http://wjdgkrud.dothome.co.kr/project42/contents/main.php"><span style="display:block; margin:80px 0 0 0; font-size:30px;font-weight:800;text-align: center; color:#fff;">tourhere</span></a></li>
            <li class="col-md-6" style="background:url('./web-dist/images/dailyfashion.PNG') no-repeat;background-size:contain; height: 300px;"><a style="display:block;text-decoration:none;" href="http://wjdgkrud.dothome.co.kr/dailyFashion/index.php"><span style="display:block; margin:80px 0 0 0; font-size:30px;font-weight:800;text-align: center; color:#fff;">dailyfashion</span></a></li>
            <li class="col-md-6" style="background:url('./web-dist/images/zara.png') no-repeat;background-size:contain; height: 300px;"><a style="display:block;text-decoration:none;" href="http://wjdgkrud.dothome.co.kr/zara/"><span style="display:block; margin:80px 0 0 0; font-size:30px;font-weight:800;text-align: center; color:#fff;">zara</span></a></li>
            <li class="col-md-6" style="background:url('./web-dist/images/earthtory.png') no-repeat;background-size:contain; height: 300px;"><a style="display:block;text-decoration:none;" href="http://wjdgkrud.dothome.co.kr/portpoilo/earthtory.php"><span style="display:block; margin:80px 0 0 0; font-size:30px;font-weight:800;text-align: center; color:#fff;">earthtory</span></a></li>
            <li class="col-md-6" style="background:url('./web-dist/images/branding.PNG') no-repeat;background-size:contain; height: 300px;"><a style="display:block;text-decoration:none;" href="http://www.letuint.com/branding/"><span style="display:block; margin:80px 0 0 0; font-size:30px;font-weight:800;text-align: center; color:#fff;">회사브랜딩</span></a></li>
        </div>
    </div>
</section>